.article__link {
	display: block;
}

.article__img {
	@include adaptiveValue("margin-bottom", 20, 15);
	width: 100%;
	object-fit: cover;
}

.article__title {
	font-weight: 700;
	@include adaptiveValue("margin-bottom", 12, 10);
}

.article__descr {
	margin-bottom: rem(14);
	@include adaptiveValue("font-size", 18, 12);
	line-height: 1.2;
}

.article__date {
	color: $accent;
	line-height: 1.2;
	@include adaptiveValue("font-size", 16, 12);
}