.advantages {
	padding: rem(40) 0 rem(50);
	background-color: #f3f9fc;
}

.advantages__title {
	@include adaptiveValue("margin-bottom", 40, 30);
}

.advantages__list {
	@include adaptiveValue("margin-bottom", 30, 20);
	display: flex;
	justify-content: space-between;

	@media (max-width:$mobile){
		flex-direction: column;
	}
}

.advantages__item {
	padding-top: rem(90);
	background-repeat: no-repeat;
	line-height: 1.2;

	&:not(:last-child) {
		margin-right: rem(100);

		@media (max-width: em(1366)){
			  margin-right: rem(30);

				@media (max-width:$mobile){
					margin-right: 0;
					margin-bottom: rem(40);
				}
		}
	}

	@media (max-width:$mobile){
		padding-top: rem(85);
	}
}

.advantages__btn {
	margin: 0 auto;
	display: block;
	max-width: rem(360);
	width: 100%;
	text-align: center;
}